---
const { data } = Astro.props;
---

<section class='flex flex-col justify-center items-center text-white pt-24'>
   <b class='text-[50px]'>PERÚ MASIVO</b>
   <img
      class='w-[500px] h-[500px] shadow-2xl rounded-full mx-auto border-8 border-amber-500 my-10'
      src={data?.img_link || '/user.webp'}
      alt={data?.nombres}
   />
   <h1 class='text-center text-4xl border-b border-white py-4 px-4'>
      <b
         >{data?.nombres?.toUpperCase()}
         {data?.apellidos?.toUpperCase()}</b
      >
   </h1>
   <h2 class='text-4xl mt-3'>{data?.puesto?.toUpperCase()}</h2>
   <img
      class='h-20 mt-10'
      src='/pm-blanco.webp'
      alt='peru-masivo'
   />
</section>

<!-- <section class='flex flex-col justify-center items-center text-white pt-24'>
   <span class='text-[50px]'>PERÚ MASIVO</span>
   <h1 class='text-center text-4xl border-b border-white py-4 px-4'>
      <b>{data?.nombres}
      {data?.apellidos}</b>
   </h1>
   <h2 class='text-4xl mt-3'>{data?.puesto}</h2>
   <a
      href=`tel:${data?.telefono}`
      class='text-4xl mt-3  mb-10'
      >{data?.codigo_telefono} {data?.telefono}</a
      <img
      class='w-80 h-80 rounded-full mx-auto border-8 border-amber-500 mt-10'
      src={data?.img_link || '/user.webp'}
      alt={data?.nombres}
   />
   <img
      class='h-16 mt-10'
      src='/pm-blanco.webp'
      alt='peru-masivo'
   />
</section> -->
