---
import NameComponent from '../components/NameComponent';
import QRCodeComponent from '../components/QRCodeComponent';

const { data } = Astro.props;
---

<div class='flex items-center justify-between py-10 px-10'>
   <img
      class='h-24'
      src='/pm-blanco.webp'
      alt='peru-masivo'
   />
   <div class="">
      <QRCodeComponent client:only />
   </div>
</div>
<section class='flex flex-col justify-center items-center text-white'>
   <img
      class='w-80 h-80 rounded-full mx-auto mb-10 border-8 border-amber-500'
      src={data?.img_link || '/user.webp'}
      alt={data?.nombres}
   />
   <NameComponent data={data} />
   <h2 class='text-4xl mt-3'>{data?.puesto}</h2>
   <a
      href=`tel:${data?.telefono}`
      class='text-4xl mt-3'
      >{data?.codigo_telefono} {data?.telefono}</a
   >
</section>
